<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-back-button defaultHref="folder/Inbox"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">Login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <img src="assets/logo.jpg" />
    <h1>REGISTRO DE USUARIO</h1>
  </div>

  <form id="form" [formGroup]="SignupForm" (ngSubmit)="guardarDatos()">
    <ion-list>
      <ion-item class="ion-margin-bottom">
        <ion-input type="text" placeholder="Nombre" formControlName="nombre"></ion-input>
      </ion-item>
      <ion-text color="danger">
        <p *ngIf="SignupForm.controls.nombre.errors?.required && (SignupForm.controls.nombre.touched || SignupForm.controls.nombre.dirty)" class="ion-padding-start">
          El campo es obligatorio.
        </p>
        <p *ngIf="SignupForm.controls.nombre.errors?.minlength && (SignupForm.controls.nombre.touched || SignupForm.controls.nombre.dirty)" class="ion-padding-start">
          El campo tiene que tener al menos 4 caracteres.
        </p>
        <p *ngIf="SignupForm.controls.nombre.errors?.maxLength && (SignupForm.controls.nombre.touched || SignupForm.controls.nombre.dirty)" class="ion-padding-start">
          El campo tiene que tener maximo 50 caracteres.
        </p>
      </ion-text>

      <ion-item class="ion-margin-bottom">
        <ion-input max="1950-01-01"  [max]="fechaTotal" step="1" type="date" placeholder="Nombre" formControlName="edad"></ion-input>
      </ion-item>
      <ion-text color="danger">
        <p *ngIf="SignupForm.controls.edad.errors?.required && (SignupForm.controls.edad.touched || SignupForm.controls.nombre.dirty)" class="ion-padding-start">
          El campo es obligatorio.
        </p>
        <p *ngIf="SignupForm.controls.edad.errors?.isValidDate && (SignupForm.controls.edad.touched || SignupForm.controls.nombre.dirty)" class="ion-padding-start">
          No es una fecha
        </p>
      </ion-text>

      <ion-row>
        <ion-col size="5">
          <ion-item>
            <ion-label>Nacionalidad</ion-label>
            <ion-select placeholder="Seleccione una" formControlName="nacionalidad">
              <ion-select-option value="">*******</ion-select-option>
              <ion-select-option value="f">V</ion-select-option>
              <ion-select-option value="m">E</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="7">
          <ion-item class="ion-margin-bottom">
            <ion-input type="number" placeholder="12345678" formControlName="cedula"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-text color="danger">
        <p *ngIf="SignupForm.controls.nacionalidad.errors?.required && (SignupForm.controls.nacionalidad.touched || SignupForm.controls.nacionalidad.dirty)" class="ion-padding-start">
          El campo nacionalidad es obligatorio.
        </p>
        <p *ngIf="SignupForm.controls.nacionalidad.errors?.minlength && (SignupForm.controls.nacionalidad.touched || SignupForm.controls.nacionalidad.dirty)" class="ion-padding-start">
          El valor minimo es de 1 un caracter.
        </p>
        <p *ngIf="SignupForm.controls.nacionalidad.errors?.maxLength && (SignupForm.controls.nacionalidad.touched || SignupForm.controls.nacionalidad.dirty)" class="ion-padding-start">
          El valor maximo es de 1 un caracter.
        </p>

        <p *ngIf="SignupForm.controls.cedula.errors?.required && (SignupForm.controls.cedula.touched || SignupForm.controls.cedula.dirty)" class="ion-padding-start">
          El campo cedula es obligatorio.
        </p>
        <p *ngIf="SignupForm.controls.cedula.errors?.min && (SignupForm.controls.cedula.touched || SignupForm.controls.cedula.dirty)" class="ion-padding-start">
          El valor minimo es de 10000000.
        </p>
        <p *ngIf="SignupForm.controls.cedula.errors?.max && (SignupForm.controls.cedula.touched || SignupForm.controls.cedula.dirty)" class="ion-padding-start">
          El valor maximo es de 50000000.
        </p>
      </ion-text>      

      <ion-item class="ion-margin-bottom">
        <ion-input type="text" placeholder="Apellido" formControlName="apellido"></ion-input>
      </ion-item>

      <ion-text color="danger">
        <p *ngIf="SignupForm.controls.apellido.errors?.required && (SignupForm.controls.apellido.touched || SignupForm.controls.apellido.dirty)" class="ion-padding-start">
          El campo es obligatorio.
        </p>
        <p *ngIf="SignupForm.controls.apellido.errors?.minlength && (SignupForm.controls.apellido.touched || SignupForm.controls.apellido.dirty)" class="ion-padding-start">
          El campo tiene que tener al menos 4 caracteres.
        </p>
        <p *ngIf="SignupForm.controls.apellido.errors?.maxLength && (SignupForm.controls.apellido.touched || SignupForm.controls.apellido.dirty)" class="ion-padding-start">
          El campo tiene que tener maximo 50 caracteres.
        </p>
      </ion-text>

      <ion-item class="ion-margin-bottom">
        <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>

      <ion-text color="danger">
        <p *ngIf="SignupForm.controls.email.errors?.email && (SignupForm.controls.email.touched || SignupForm.controls.email.dirty)" class="ion-padding-start">
          No es un email
        </p>
        <p *ngIf="SignupForm.controls.email.errors?.required && (SignupForm.controls.email.touched || SignupForm.controls.email.dirty)" class="ion-padding-start">
          El campo es obligatorio.
        </p>
        <p *ngIf="SignupForm.controls.email.errors?.minlength && (SignupForm.controls.email.touched || SignupForm.controls.email.dirty)" class="ion-padding-start">
          El campo tiene que tener al menos 4 caracteres.
        </p>
        <p *ngIf="SignupForm.controls.email.errors?.maxLength && (SignupForm.controls.email.touched || SignupForm.controls.email.dirty)" class="ion-padding-start">
          El campo tiene que tener maximo 50 caracteres.
        </p>
      </ion-text>
  
      <ion-item class="ion-margin-bottom">
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>

      <ion-text color="danger">
        <p *ngIf="SignupForm.controls.password.errors?.required && (SignupForm.controls.password.touched || SignupForm.controls.password.dirty)" class="ion-padding-start">
          El campo es obligatorio.
        </p>
        <p *ngIf="SignupForm.controls.password.errors?.minlength && (SignupForm.controls.password.touched || SignupForm.controls.password.dirty)" class="ion-padding-start">
          El campo tiene que tener al menos 4 caracteres.
        </p>
        <p *ngIf="SignupForm.controls.password.errors?.maxLength && (SignupForm.controls.password.touched || SignupForm.controls.password.dirty)" class="ion-padding-start">
          El campo tiene que tener maximo 50 caracteres.
        </p>
      </ion-text>
  
      <ion-item class="ion-margin-bottom">
        <ion-input type="password" placeholder="Confirmar password" formControlName="confirmpassword"></ion-input>
      </ion-item>

      <ion-text color="danger">
        <p *ngIf="SignupForm.controls.confirmpassword.errors?.required && (SignupForm.controls.confirmpassword.touched || SignupForm.controls.confirmpassword.dirty)" class="ion-padding-start">
          El campo es obligatorio.
        </p>
        <p *ngIf="SignupForm.controls.confirmpassword.errors?.minlength && (SignupForm.controls.confirmpassword.touched || SignupForm.controls.confirmpassword.dirty)" class="ion-padding-start">
          El campo tiene que tener al menos 4 caracteres.
        </p>
        <p *ngIf="SignupForm.controls.confirmpassword.errors?.maxLength && (SignupForm.controls.confirmpassword.touched || SignupForm.controls.confirmpassword.dirty)" class="ion-padding-start">
          El campo tiene que tener maximo 50 caracteres.
        </p>
        <p *ngIf="SignupForm.controls.confirmpassword.errors?.mustMatch && (SignupForm.controls.confirmpassword.touched || SignupForm.controls.confirmpassword.dirty)" class="ion-padding-start">
          Password no coinciden
        </p>
      </ion-text>
    </ion-list>   

    <!--<app-input formControlName="email" placeholder="Email"></app-input>
    <app-input formControlName="password" type="password" placeholder="Password"></app-input>-->
    <ion-button type="submit" expand="block" shape="round">Guardar</ion-button>
  </form>
</ion-content>
